<%= form_for(@article, html: {multipart: true}) do |frm| %>

<ul>
	<% @article.errors.full_messages.each do |err| %>
	<li> <%= err %></li>
	<% end %>
</ul>

<p>
	<%= frm.label :title %><br>
	<%= frm.text_field :title %>
</p>

<p>
	<%= frm.label :body %><br>
	<%= frm.text_area :body %>
</p>

<p>
  <%= frm.label :tag_list %><br />
  <%= frm.text_field :tag_list %>
</p>

<p>
	<% if @article.image.exists? %>
	  <%= image_tag @article.image.url(:thumb) %>
	<% end %>
	<%= frm.label :image, "Attach a new image" %> <br>
	<%= frm.file_field :image %>
</p>

<p>
	<%= frm.submit %>
</p>

<% end %>